body {
    font-family: "Montserrat", sans-serif;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.js-load-more{
    border-radius: 8px;
        padding: 8px 16px;
        width: 125px;
        height: 40px;
        
}
.button-container{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
}
.load-more-hidden {
    display: none;
}
label {
    margin-right: 8px;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    border: none;
    color: #fff;
}

button:hover {
    background-color: #6c8cff;
}

input {
    width: 272px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #808080;
    padding-left: 16px;
}

input:hover {
    border: 1px solid #000;
}

input:focus {
    border: 1px solid #4e75ff;
    outline: none;
}

p {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

span {
    font-weight: 400;
    line-height: 2;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 24px;
    justify-content: center;
}

.gallery-item {
    list-style: none;
}

.gallery-item img {
    width: 100%;
    height: 152px;
    object-fit: cover;
    display: block;
}

.info {
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    padding-left: 20px;
    padding-right: 25px;
    width: 313px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


span {
    display: flex;
    justify-content: center;

}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.loader {
    width: 124px;
    height: 124px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}